@model RS.MVC.Models.ResistanceCreateModel
@using RS.COMMON.Constants

    <form id="resistanceForm" class="ui form" method="post" action="Create">
        <h4 class="ui dividing header"><a href="#" id="listCase"><i class="angle double left icon"></i></a>Vakalar</h4>
        <div class="field">
            <label for="ResistanceDescription">Kısa Açıklama</label>
            <textarea type="text" name="ResistanceDescription" id="ResistanceDescription" rows="3"></textarea>
        </div>
        <div class="field">
            <label asp-for="CategoryId">Vaka Niteliği</label>
            <select asp-for="CategoryId" asp-items="@ViewBag.Categories"> <option value="">--Seçiniz--</option></select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <div class="fields">
            <div class="six wide field">
                <label for="IsOutsource">Şirket Taşeron mu?</label>
                <select id="isOutsource" name="IsOutsource">
                    <option value="False">Hayır</option>
                    <option value="True">Evet</option>
                </select>
            </div>
            <div class="ten wide field">
                <label asp-for="TargetId">Şirket</label>
                <div class="two fields">
                    <div class="field">
                        <select asp-for="TargetId" asp-items="@ViewBag.Companies" class="ui fluid search selection dropdown" onchange="checkExisiting()">
                            <option value="">--Seçiniz--</option>
                        </select>
                    </div>
                    <div class="field">
                        <button type="button" onclick="openModal(false)" class="ui button">Yeni Şirket Ekle</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="outsource" style="display:none">
            <label asp-for="MainCompanyId">Ana Şirket</label>
            <div class="two fields">
                <div class="field">
                    <select asp-for="MainCompanyId" asp-items="@ViewBag.Companies" class="ui fluid search selection dropdown">
                        <option value="">--Seçiniz--</option>
                    </select>
                </div>
                <div class="field">
                    <button type="button" onclick="openModal(true)" class="ui button"><i class="chevron circle up icon"></i>Ana Şirket Ekle</button>
                </div>
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label for="ResistanceReasonIds">Vaka Nedeni</label>
                <select asp-for="ResistanceReasonIds" asp-items="@ViewBag.ResistanceReasons" class="ui fluid search dropdown" multiple="">
                    <option value="">--Seçiniz--</option>
                </select>
            </div>
            <div class="field">
                <label for="DevelopRight">Hak Geliştirme/Hak Savunma Özelliği</label>
                <select asp-for="DevelopRight">
                    <option value="">--Seçiniz--</option>
                    <option value="true">Hak Geliştirme</option>
                    <option value="false">Hak Savunma</option>
                </select>
                <span asp-validation-for="DevelopRight" class="text-danger"></span>
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label for="EmployeeCount">İş Yerindeki İşçi Sayısı (Tam)</label>
                <input type="number" name="EmployeeCount" id="EmployeeCount">
            </div>
            <div class="field">
                <label asp-for="EmployeeCountId">İş Yerindeki İşçi Sayısı</label>
                <select asp-for="EmployeeCountId" asp-items="@ViewBag.EmployeeCount"><option value="">--Seçiniz--</option></select>
                <span asp-validation-for="EmployeeCountId" class="text-danger"></span>
            </div>
        </div>

        <div class="field">
            <label for="CorporationIds">Kurumsallık</label>
            <select asp-for="CorporationIds" class="ui fluid search dropdown" multiple="">
                <option value="">Seçiniz</option>
                @foreach (var item in ViewBag.Corporations)
                {
                    <option value="@item.Id" data-type="@item.CorporationTypeId">@item.Name</option>
                }
            </select>
        </div>
        <div class="field tradeUnionAuthorityGroup" style="display:none">
            <label for="TradeUnionAuthorityId">Sendikanın Yetki Durumu</label>
            <select asp-for="TradeUnionAuthorityId" asp-items="@ViewBag.TradeUnionAuthorities">
                <option value="">--Seçiniz--</option>
            </select>
        </div>
        <div class="field">
            <label for="TradeUnionId">Tepki Gösterilen Sendika</label>
            <select asp-for="TradeUnionId" asp-items="@ViewBag.TradeUnions">
                <option value="">Seçiniz</option>
            </select>
        </div>
        <div class="two fields">
            <div class="field">
                <label for="EmploymentTypeIds">İstihdam Türü</label>
                <select asp-for="EmploymentTypeIds" asp-items="@ViewBag.EmploymentTypes" class="ui fluid search dropdown" multiple="">
                    <option value="">--Seçiniz--</option>
                </select>
            </div>
            <div class="field">
                <label for="GenderId">Cinsiyet</label>
                <select asp-for="GenderId" asp-items="@ViewBag.Genders">
                    <option value="">--Seçiniz--</option>

                </select>
                <span asp-validation-for="GenderId" class="text-danger"></span>
            </div>

        </div>
        <div class="field">
            <label for="FiredEmployeeCountByProtesto">Mücadele Ettiği için İşten Atılan İşçi Sayısı</label>
            <input asp-for="FiredEmployeeCountByProtesto" type="number" />
        </div>
        <div class="field">
            <label for="ResistanceResult">Sonuç</label>
            <select asp-for="ResistanceResult" class="ui fluid search dropdown">
                <option value="0">Bilinmiyor</option>
                <option value="1">Tam Kazanım</option>
                <option value="2">Yarım Kazanım</option>
                <option value="3">Sıfır Kazanım</option>
            </select>
        </div>

        <h3 class="ui dividing header">Eylem</h3>
        <div class="field">
            <label for="ProtestoTypeIds">Eylemin Türü</label>
            <select asp-for="ProtestoTypeIds" asp-items="@ViewBag.ProtestoTypes" class="ui fluid search dropdown" multiple="multiple">
                <option value="">--Seçiniz--</option>
            </select>
            <span asp-validation-for="ProtestoTypeIds" class="text-danger"></span>
        </div>
         <div class="field" id="StrikeDurationField" style="display:none">
            <label for="StrikeDuration">Eylemin Süresi</label>
            <input asp-for="StrikeDuration" type="text" />
            
        </div>
        <div class="field" id="SimpleProtestoDescriptionField" style="display:none">
            <label for="SimpleProtestoDescription">İş yerinde Basit Eylem Açıklama</label>
            <input asp-for="SimpleProtestoDescription" type="text" />
            
        </div>
        <div class="two fields">
            <div class="field">
                <label for="ProtestoStartDate">Eylemin Başlangıç Tarihi</label>
                <input asp-for="ProtestoStartDate" type="text" class="ddmmyyyy" />
            </div>
            <div class="field">
                <label for="ProtestoEndDate">Eylemin Bitiş Tarihi</label>
                <input asp-for="ProtestoEndDate" type="text" class="ddmmyyyy" />
                <span asp-validation-for="ProtestoEndDate" class="text-danger"></span>
            </div>
        </div>

        <div class="field">
            <label for="ProtestoPlaceIds">Eylemin Mekanı</label>
            <select asp-for="ProtestoPlaceIds" asp-items="@ViewBag.ProtestoPlaces" class="ui fluid search dropdown" multiple="multiple">
                <option value="">--Seçiniz--</option>
            </select>
            <span asp-validation-for="ProtestoPlaceIds" class="text-danger"></span>
        </div>
        <div class="field">
            <button id="addLocation" type="button" class="ui button">Lokasyon Ekle (İl/ilçe)</button>
        </div>
        <div class="field" id="location">


        </div>
        <div class="two fields">
            <div class="field">
                <label for="EmployeeCountInProtesto">Eylemdeki İşçi Sayısı (Tam)</label>
                <input type="number" name="EmployeeCountInProtesto" id="EmployeeCountInProtesto" />
            </div>
            <div class="field">
                <label for="EmployeeCountInProtestoId">Eylemdeki İşçi Sayısı</label>
                <select asp-for="EmployeeCountInProtestoId" asp-items="@ViewBag.EmployeeCountInProtesto">
                    <option value="">--Seçiniz--</option>
                </select>
            </div>
        </div>

        <div class="field">
            <label for="InterventionTypeId">Müdahale Tipi</label>
            <select asp-for="InterventionTypeIds" asp-items="@ViewBag.InterventionTypes" class="ui fluid search dropdown" multiple="">
                <option value="">--Seçiniz--</option>
            </select>
        </div>
        <div class="field" id="InterventionTypeArea" style="display:none">
            <label for="CustodyCount">Gözaltı Sayısı</label>
            <input type="text" name="CustodyCount" id="CustodyCount" />
        </div>
        <div class="field">
            <label for="Note">Kontrol Kişisine Notlar</label>
            <textarea type="text" name="Note" id="Note" rows="2"></textarea>
        </div>

        <h4 class="ui dividing header">Haberler</h4>
        <div class="ui divided items" id="resistanceNews">
        </div>
        <button type="submit" class="ui ok green button">KAYDET</button>
        <div class="ui error message"></div>
    </form>

<div class="ui modal" id="addCompanyModal">
    <i class="close icon"></i>
    <div class="header">
        Yeni Şirket Ekle
    </div>
    <div class="content" id="modal-content">
    </div>
</div>
<div class="ui modal" id="addOutsourceCompanyModal">
    <i class="close icon"></i>
    <div class="header">
        Yeni Taşeron Şirket Ekle
    </div>
    <div class="content" id="modalOutsource-content">
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.ui.dropdown').dropdown({
            clearable: true,
            allowAdditions: true,
            fullTextSearch: 'exact'
        });
    });
    function checkExisiting() {

        var companyId = $("#CompanyId").val();
        var categoryId = $("#CategoryId").val();
        console.log(companyId);
        if (companyId != null && categoryId != null) {
            ExistingResistance(companyId, categoryId);
        }
    }
    function ExistingResistance(companyId, categoryId) {
        $.ajax({
            url: "/Resistance/ExistingResistance?companyId=" + companyId + "&categoryId=" + categoryId,
            success: function (response) {
                if (response != null) {
                    alert("mevcut");
                    console.log(response);
                }

            }
        });
    }
</script>


