
@model RS.MVC.Models.ResistanceEditModel

    <form id="resistanceForm" class="ui form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h3 class="ui dividing header">Vaka</h3>
        <div class="two fields">
            <div class="field">
                <label asp-for="CategoryId">Vaka Niteliği</label>
                <select asp-for="CategoryId" asp-items="@ViewBag.Categories"> <option value="">--Seçiniz--</option></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>


            </div>
            <div class="field">
                <label for="IsOutsource">Şirket Taşeron mu?</label>
                <select id="isOutsource">
                    <option value="0">Hayır</option>
                    <option value="1">Evet</option>
                </select>
            </div>
        </div>

        <div class="sixty wide field">
            <label asp-for="CompanyId">Ana Şirket</label>
            <div class="two fields">
                <div class="field">
                    <select asp-for="CompanyId" asp-items="@ViewBag.Companies" class="ui fluid search selection dropdown" onchange="checkExisiting()"> <option value="">--Seçiniz--</option></select>
                </div>
                <div class="field">
                    <button type="button" onclick="openModal()" class="ui button"><i class="chevron circle up icon"></i>Yeni Şirket Ekle</button>
                </div>
            </div>
        </div>

        <div id="outsource" style="display:none">
            <div class="sixty wide field">
                <label asp-for="OutsourceCompanyId">Taşeron Şirket</label>
                <div class="two fields">
                    <div class="field">
                        <select asp-for="OutsourceCompanyId" asp-items="@ViewBag.Companies" class="ui fluid search selection dropdown"> <option value="">--Seçiniz--</option></select>
                    </div>
                    <div class="field">
                        <button type="button" onclick="openOutsourceModal()" class="ui button"><i class="chevron circle up icon"></i>Yeni Taşeron Şirket Ekle</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="two fields">
            <div class="field">
                <label asp-for="EmployeeCountId">İş Yerindeki İşçi Sayısı</label>
                <select asp-for="EmployeeCountId" asp-items="@ViewBag.EmployeeCount"><option value="">--Seçiniz--</option></select>
                <span asp-validation-for="EmployeeCountId" class="text-danger"></span>
            </div>
            <div class="field">
                <label for="EmployeeCount">İş Yerindeki İşçi Sayısı (Tam)</label>
                <input type="text" name="EmployeeCount" id="EmployeeCount">
            </div>
        </div>
        <div class="field">
            <label for="HasTradeUnion">Sendika Var Mı?</label>
            <select asp-for="HasTradeUnion">
                <option value="false">Yok</option>
                <option value="true">Var</option>
            </select>
        </div>
        <div class="field tradeUnionAuthorityGroup" style="display:none">
            <label for="TradeUnionAuthorityId">Sendikanın Yetki Durumu</label>
            <select asp-for="TradeUnionAuthorityId" asp-items="@ViewBag.TradeUnionAuthorities">
                <option value="">--Seçiniz--</option>
            </select>
            <span asp-validation-for="TradeUnionAuthorityId" class="text-danger"></span>

        </div>
        <div class="field">
            <label for="CorporationIds">Kurumsallık</label>
            <select asp-for="CorporationIds" asp-items="ViewBag.Corporations" class="ui fluid search dropdown" multiple="">
                <option value="">Seçiniz</option>
            </select>
        </div>

        <div class="field tradeUnionAuthorityGroup" style="display:none">
            <label for="TradeUnionId">Tepki Gösterilen Sendika</label>
            <select asp-for="TradeUnionId" asp-items="@ViewBag.TradeUnions">
                <option value="">Seçiniz</option>
            </select>
        </div>
        <div class="two fields">
            <div class="field">
                <label for="EmploymentTypeIds">İstihdam Türü</label>
                <select asp-for="EmploymentTypeIds" asp-items="@ViewBag.EmploymentTypes" class="ui fluid search dropdown" multiple="">
                    <option value="">--Seçiniz--</option>
                </select>
            </div>
            
        </div>

        <h3 class="ui dividing header">Eylemler</h3>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Eylem Türleri</th>
                    <th>Eylem Başlangıç Tarihi</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model.Protestos)
                {
                    <td>@String.Join(", ",item.ProtestoTypes)</td>
                    <td>@item.ProtestoStartDate.ToShortDateString()</td>
                    <td class="right aligned"><a class="ui right labeled small blue icon button" href="/Resistance/ViewProtesto/@item.ProtestoId">Görüntüle<i class="right chevron icon"></i></a></td>
                }
            </tbody>
        </table>
        

        

        
        <button type="submit" class="ui primary button">KAYDET</button>
    </form>
        
       
    
    <div class="ui modal" id="addCompanyModal">
        <i class="close icon"></i>
        <div class="header">
            Yeni Şirket Ekle
        </div>
        <div class="content" id="modal-content">
        </div>
    </div>
    <div class="ui modal" id="addOutsourceCompanyModal">
        <i class="close icon"></i>
        <div class="header">
            Yeni Taşeron Şirket Ekle
        </div>
        <div class="content" id="modalOutsource-content">
        </div>
    </div>


@section Scripts {
    <script>
        $("#isOutsource").change(function () {
            console.log("outsource");
            if ($(this).val() == "1") {
                $("#outsource").show();
            }
            else {
                $("#outsource").hide();
            }
        });
        function openModal() {
            console.log("open");
            $.ajax({
                url: "/Resistance/AddCompany",
                datatype: "html",
                success: function (response) {
                    $("#modal-content").html(response);
                    $('#addCompanyModal').modal('show');
                }
            });

        }
        function openOutsourceModal() {
            $.ajax({
                url: "/Resistance/AddOutsourceCompany",
                datatype: "html",
                success: function (response) {
                    $("#modalOutsource-content").html(response);
                    $('#addOutsourceCompanyModal').modal('show');
                }
            });
        }
        function checkExisiting() {

            var companyId = $("#CompanyId").val();
            var categoryId = $("#CategoryId").val();
            console.log(companyId);
            if (companyId != null && categoryId != null) {
                ExistingResistance(companyId, categoryId);
            }
        }
        function ExistingResistance(companyId, categoryId) {
            $.ajax({
                url: "/Resistance/ExistingResistance?companyId=" + companyId + "&categoryId=" + categoryId,
                success: function (response) {
                    if (response != null) {
                        alert("mevcut");
                        console.log(response);
                    }

                }
            });
        }
        $("#resistanceForm").on('submit', function (e) {
            e.preventDefault() // prevent the form's normal submission
            var dataToPost = $(this).serialize()
            if ($(this).valid()) {
                $.post("Create", dataToPost)
                    .done(function (response, status, jqxhr) {
                        console.log("from submitted");
                        console.log(response);
                        location.href = '/Resistance';
                    })
                    .fail(function (jqxhr, status, error) {
                        // this is the ""error"" callback
                    })
            }

        })

        $(function () {
            $("#HasTradeUnion").change(function () {
                if ($(this).val() == "true") {
                    $(".tradeUnionAuthorityGroup").show();
                }
                else {
                    $(".tradeUnionAuthorityGroup").hide();
                }
            });
            $('.ui.dropdown').dropdown({
                allowAdditions: true,
            });
        });
    </script>
}

