@model PagedResult<RS.COMMON.DTO.ComapnyListViewModel, CompanyFilterModel>

<h4 class="ui dividing header">Şirketler</h4>

<div class="ui attached secondary segment companyFilter">
    <div class="ui accordion field">
        <div class="title">
            <i class="icon dropdown"></i>
            Filtreler
        </div>
        <div class="content ui form">
            <div class="field">
                <label class="transition visible">Şirket</label>
                <select asp-for="@Model.Filter.CompanyId" asp-items="@ViewBag.Companies" class="ui fluid search selection dropdown" name="filterCompanyId">
                    <option value="">--Seçiniz--</option>
                </select>
            </div>
            <div class="field">
                <label class="transition visible">Ana Şirket</label>
                <select asp-for="@Model.Filter.MainCompanyId" asp-items="@ViewBag.Companies" class="ui fluid search selection dropdown" name="filterMainCompanyId"><option value="">--Seçiniz--</option></select>
            </div>
            
            
            <div class="field">
                <button id="btnFilter" class="ui button">Filtrele</button>
                <button id="btnClearFilter" class="ui basic button clear">Temizle</button>
            </div>
        </div>
    </div>
</div>

    <table class="ui celled striped table">
        <thead>
            <tr>
                <th>Şirket</th>
                <th>Ana Şirket</th>
                <th>Tipi</th>
                <th>Ölçek</th>
                <th>İş Kolu</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Results)
            {
            <tr>
                @if (string.IsNullOrEmpty(item.MainCorporationName))
                {
                    <td><a href="#" class="modalLink" data-id="@item.Id" data-mainCompanyId="@item.MainCompanyId">@item.Name<a></td>
                }
                else
                {
                    <td><a href="#" class="outsourcemodalLink" data-id="@item.Id">@item.Name<a></td>
                }

                <td>@item.MainCorporationName</td>
                <td>@item.Type</td>
                <td>@item.Scale</td>
                <td>@item.WorkLine</td>
                <td width="10%"><button data-id="@item.Id" data-mainCompanyId="@item.MainCompanyId" class="ui basic red button btnDelete">Sil</button></td>
            </tr>
            }

        </tbody>
        <tfoot>
            <tr>
                <th colspan="5">
                    <p>@Model.RowCount kayıttan @Model.From - @Model.To arasındakiler görüntüleniyor.</p>
                </th>
                <th>
                    <div class="ui right floated pagination menu field">
                        <select class="ui compact small dropdown" id="pagingDD">
                            <option value="@Model.Filter.PageNumber">@Model.Filter.PageNumber</option>
                            @for (int i = 1; i < @Model.PageCount + 1; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>
    <script>
    $(document).ready(function () {
        $('.ui.dropdown').dropdown({
            clearable: true
        });
        $('.ui.accordion').accordion();
    });
    </script>